* {
    box-sizing: border-box;
}

/*
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
*/

.map {
	position: relative;
height: 100vh;



}

/*
.row>div:nth-child(2) {
	border: 2px solid black;
	width: 100%;
}
*/

.row1>div:nth-child(2) {
	border: 2px solid black;
	width: 100%;
	margin-left: 20px;

}

.row1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text{
	margin: 10px 0;
	width: 100%;
}

.list{
	width: 400px;
}

.item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
